@model Resources.Web.ViewModels.SignUpViewModel
<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
            <form method="POST" action="/SignUp/SignUp">
                <label for="player-name">Enter your name:</label>
                <input name="player-name" type="text"/>
                <label for="city-name">Enter your city:</label>
                <input name="city-name" type="text"/>
                <input type="submit" value="Sign Up"/>
            </form>
        </div>
    </body>
</html>